.home-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-header {
  font-weight: bolder;
  font-size: 50pt;
  margin-bottom: 1%;
  margin-top: 1%;
}

.home-options-header {
  font-size: 50pt;
}

.home-options-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50;
  left: 50;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.home-inner-container {
  width: 80%;
  height: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-genre-select-button {
  background-color: aquamarine;
  width: 300px;
  height: 150px;
}

.home-genre-pick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  width: 300px;
  height: 150px;
}

.home-genre-pick-button {
  background-color: aquamarine;
  width: 200px;
  height: 75px;
}

.home-game-item-container {
  display: flex;
  flex-direction: row;
}

.home-game-item {
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  text-align: center;
}
