.game-container {
  width: 20%;
  height: 20%;
  display: flex;
  font-family: 'Sysfont';
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.game-name {
  font-size: 30pt;
}

.game-vote {
  font-size: 20pt;
}
