.game-select-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game-select-game-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
