.genre-item-container {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  font-family: 'Sysfont';
  justify-content: center;
  align-items: center;
}

.genre-item-name {
  font-size: 25pt;
  margin-bottom: 10%;
  text-align: center;
}
